.formulario {
    padding: 10px;
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    font-size: 15px;
}

.contacto {
    padding-top: 150px;
    padding-bottom: 30px;
    margin: 30px;

}